*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Exa', sans-serif;
    background: rgb(229, 235, 226);
}
.image-header{
    width: 100%;
    height: 450px;
    position: relative;
    margin-top: px;
    border: 2px solid black;
}
h1{
    font-size: 70px;
    position: relative;
    font-style: italic;
    background: linear-gradient(rgb(165, 235, 163), #f1ef75);
    padding: 15px;
    
}
h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: black;
    border: 2px solid black;
    margin-top: -5px;
    background: linear-gradient(#f1ef75,rgb(165, 235, 163));
    padding: 15px;
}

.image-logo{
    width: 250px;
    height: 250px;
    padding: 15px;
    position: absolute;
    margin-left: 40px;
    margin-top: 80px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 15px 15px 655px rgb(165, 235, 163);
    border-radius: 30%;

}
#logo{
    width: 100px;
    height: 100px;
    padding: 15px;
    position: absolute;
    margin-left: 40px;
    margin-top: -100px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 15px 15px 655px rgb(165, 235, 163);
    border-radius: 30%;
}
.nav{
    margin-left: 1130px;
    margin-top: -530px;
    font-size: 20px;
    position: absolute;
}

a{
    margin: 5px;
    float: left;
    background: rgb(61, 126, 206);
    padding: 5px 12px;
    box-shadow: 5px 4px #00000063;
    color: white;
    border: 2px solid black;
    text-decoration: none;
}
a:hover{
    transform: scale(1.25); transition: all 0.75s;
}
.parado-en{
    background: #60ad60;
}

.section-h2{
    position: absolute;
    margin-left: 300px;
    margin-top: 26px;
    padding: 30px;
}
.article-h3{
    margin: 25px;
}
.article-h3>h3:hover{
    color:rgb(42, 161, 12); transform: scale(1.05); 
    transition: 1s;
}
.article-h3 p{
    text-indent: 15px;
}
p a{
    background: none;
    color: blue;
    border: none;
    box-shadow: none;
    float: none;
    margin: 0;
}
/* from here page rules */
.subtitulo{
    text-align: center;
    font-size: 26px;
    padding: 15px;
    margin: 15px;
}
.subtitulo-negrita{
    font-size: 30px;
    padding: 25px 100px;
}

span{
    font-weight: 700;
}
span#suave{
    font-weight: 500;
}
.parrafo-sportsmanship{
    text-indent: 80px;
    font-size: 25px;
    padding: 25px 100px;
}
ol{
    font-size: 25px;
    padding: 25px 100px;
}
.dimensiones>li{
    padding-bottom: 50px;
}
#campos{
    margin-left: 0px;
    padding-left: 0px;
}
ul{
    font-size: 25px;
    padding: 25px 100px;
    margin-left: 110px;
    
}

li{
    list-style-position: inside;
}
.ultimo-ul>li{
    margin-left: -25px;
    list-style-type: circle;
}
/* from here the table */
.flex-contain{
    display: flex;
    margin-left: 25px;
}
.all-games{
    text-decoration-line: underline;
    display: block;
    padding: 25px;
    font-style: italic;
}
table{
    padding: 40px;
    margin: -15px 100px 30px 100px;
    font-size: 18px;
    text-align: center;
}
tr, td{
    padding: 20px;
    align-items: center;
}
td{
    width: 725px;
}
th{
    padding: 50px;
    align-items: center;
}
.datos-cabecera{
    font-size: 18px;
    padding: 50px;
}
.datos-cabecera p{
    padding: 15px;
}
#email{
    margin-left: 775px;
    margin-top: -53px;
}

/* from here form */
form{
    display: flex;
    flex-direction: column;
    font-size: 22px;
}
fieldset{
    padding: 30px 100px;
    border: 0;
    align-content: space-between;
}


.name{
    width: 300px;
}
.last-name{
    width: 300px;
}
.address{
    width: 835px;
}
.city{
    width: 515px;
}
.zip-code{
    width: 325px;
}
.date{
    width: 225px;
}
.pre-school{
    display: inline;
}
.school{
    width: 100%;

}
.school p{
    padding: 12px 0px;
}
.position p{
    padding: 12px 0px;
}
.uniform p{
    padding: 12px 0px;
}
.name{
    border-top: none;
    border-right: none;
    border-left: none;
}
.last-name{
    border-top: none;
    border-right: none;
    border-left: none;
}
.address{
    border-top: none;
    border-right: none;
    border-left: none;
}
.city{
    border-top: none;
    border-right: none;
    border-left: none;
}
.zip-code{
    border-top: none;
    border-right: none;
    border-left: none;
}
.date{
    border-top: none;
    border-right: none;
    border-left: none;
}
.radiusquare{
    
    appearance: none;
    border: 1px solid black;
    padding: 0.5em;
    
}
.radiusquare:checked{
    background: #000000;
}
.parent{
    border-top: none;
    border-right: none;
    border-left: none;
    width: 500px;
}
.date{
    border-top: none;
    border-right: none;
    border-left: none;
}
fieldset>p{
    font-weight: 700;
}
.permission>p{
    font-weight: 400;
}
.permission :nth-child(2){
    text-align: justify;
}
.permission h4{
    padding: 12px 0;
}
fieldset>div{
    padding: 12px 0;
}
.enviar{
    width: 120px;
    background: linear-gradient(#f1ef75,rgb(165, 235, 163));;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}